/* src/styles/aboutOutline.css */

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gambar-outline::after,
.gambar-outline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #115099,
    #3B6CA7,
    #6788B6,
    #9DA9C8,
    #F5F5F5,
    #9DA9C8,
    #6788B6,
    #3B6CA7,
    #115099
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 3px;
  border-radius: 20px;
  animation: spin 6s linear infinite;
}

.gambar-outline::before {
  filter: blur(1.5rem);
  opacity: 0.7;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
